<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="Author" content="Ilandy &nbsp; Austin">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!-- Use title if it's in the page YAML frontmatter -->
    <% page_name = page_classes.split(' ').last %>
    <% file_name = page_name.to_sym %>
    <title><%= data.pageInfo[file_name].Title %></title>
    <script src="https://use.fontawesome.com/2c72f40202.js"></script>
    <link href="stylesheets/all.css?v=<% v=Time.new v2=Time.now.sec %><%= v2 %>" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>
    <script src="javascripts/all.js"></script>
    <script src="javascripts/ctrl.js"></script>
    <script src="javascripts/product.directive.js"></script>

  </head>
  <body ng-app="myApp" ng-controller="myCtrl as m">
    <div class="wrap <% if page_classes=='index' %>index<% end %>" ng-class="{'active':m.isActive}">
      <div class="container">
      <%= partial "partials/navbar.html.erb" %>
      <% if page_classes != 'index' %>
        <div class="banner">
          <img src="images/<%= data.pageInfo[file_name].PageBanner %>" height="223" width="1000" alt="">
        </div>
      <% end %>
      <%= yield %>
      </div>
      <% if page_classes == 'index' %>
        <%= partial "partials/index.html.erb"%>
      <% end %>
      <%= partial "partials/footer.html.erb" %>
    </div>
    <div class="mob-menu-list" ng-class="{'active':m.isActive}">
        <ul class="header-menu" ng-class="{'active':m.isActive}">
          <li class="menu-item" ng-click="m.menuActive()"><a href="###"><i class="glyphicon glyphicon-chevron-left"></i>&nbsp;&nbsp;返回</a></li>
          <li class="menu-item <%= is_page_selected('') %>"><a href="index.html">網站首頁</a></li>
          <li class="menu-item <%= is_page_selected('about.html') %>"><a href="about.html">企業情報</a></li>
          <li class="menu-item <%= is_page_selected('product.html') %>"><a href="product.html">產品介紹</a></li>
          <li class="menu-item <%= is_page_selected('contact.html') %>"><a href="contact.html">客戶服務</a></li>
        </ul>
      </div>
  </body>
</html>
