<nav class="header row <% if page_classes=='index' %>index<% end %>">
  
    <h1 class="header-band">
      <img calss="pull-left" src="images/Kao_logo.png" width="40" alt="">
      <p>
        <span class="navy">線上即時服務系統</span><br>
        <small class="navy">Service online</small>
      </p>
      <div class="mob-menu visible-xs-block"></div>
    </h1>
  <div class="header-right hidden-sm hidden-xs">
    <ul class="header-menu">
      <li class="menu-item <%= is_page_selected('')%>"><a href="index.html">市長信箱</a></li>
      <li class="menu-item <%= is_page_selected('Case.html') %>"><a href="Case.html">案件查詢</a></li>
      <li class="menu-item <%= is_page_selected('Service.html') %>"><a href="Service.html">服務流程</a></li>
      <li class="menu-item <%= is_page_selected('Faq.html')%>"><a href="Faq.html">常見問題 FAQ</a></li>
      <li class="menu-item"><a href="http://work1999.kcg.gov.tw/Rptdownload.aspx" target="_blank">案件反應排行榜</a></li>
      <li class="menu-item <%= is_page_selected('Satisfaction.html') %>"><a href="Satisfaction.html">案件處理滿意度</a></li>
      <li class="menu-item"><a href="http://disdp.kcg.gov.tw/exchange/feedback.php" target="_blank">廉政案件</a></li>
      <li class="menu-item"><a href="http://disdp.kcg.gov.tw/exchange/feedback.php" target="_blank"><i class="fa fa-info"></i></a></li>
    </ul>
  </div>
</nav>